modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run serve"]

[[ports]]
localPort = 4173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5173
externalPort = 3000
exposeLocalhost = true

[workflows]
runButton = "Full Stack App"

[[workflows.workflow]]
name = "Start Backend"
author = 45982353
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && npm start"

[[workflows.workflow]]
name = "Full Stack App"
author = 45982353
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm start"
